{% extends "MainTemplate.html" %}

{% block Content %}

    <section id="content_wrap"class="wrap">
        <div class="container">
            <article id="content" class="col-md-12 col-lg-8 inner">
                {% block MainContent %}{% endblock %}
            </article>
            <aside id="aside" class="col-sm-9 col-md-7 col-lg-4 centered-sm uncentered-lg inner">
                {% if PageFor != "parent" %}
                    <div class="action section">
                        <div class="price ribbon"><span class="dollar_sign">$</span><span class="dollars" data-pid="1149"></span><span class="cents" data-pid="1149"></span></div>
                        <a class="btn orange fancy" href="{{Config.RegUrl_1149}}">Register Now!</a>
                    </div>
                {% endif %}
                <div id="top_questions" class="section">
                    <a href="#" data-featherlight="#top_questions_modal">
                        <h3 class="h4">Top Questions</h3>
                        <p>Quick answers to the most common Texas driver education questions.</p>
                    </a>
                </div>
                <div id="student_login" class="section">
                    <h3 class="h4">Student Login</h3>
                    <form id="StudentLogin" action="https://home.uceusa.com/StudentLogin.aspx?host=texasadultdriver.com_new" method="post" name="StudentLogin">
                        <div class="form_row block">
                            <input id="LoginInfo1:UsernameTextBox" maxlength="100" name="LoginInfo1:UsernameTextBox" class="input" type="text" placeholder="Username">
                        </div>
                        <div class="form_row block">
                            <input id="LoginInfo1_PasswordTextBox" maxlength="100" name="LoginInfo1:PasswordTextBox" class="input" type="password" placeholder="Password">
                        </div>
                        <div class="form_row block button">
                            <input class="submit input" type="submit" value="Login" />
                        </div>
                    </form>
                </div>
                <div id="asc_info" class="section center">
                    <p class="center"><img class="seal" src="/images/american-safety-council-seal.png" alt="American Safety Council" /></p>
                    <ul class="check">
                        <li>Money-Back Guarantee!*</li>
                        <li>Approved Online Training</li>
                        <li>24/7 Customer Support</li>
                        <li>Log On and Off As Needed</li>
                    </ul>
                </div>

            </aside>
        </div>
    </section>

{% endblock %}
