{% set PageTitle = "My Account Checkout" %}
{% set PageDescription = "Univeristy Platform Dashboard" %}
{% set CanonicalPage = "" %}

{% extends "MainTemplate.html" %}

{% block Content %}
    <section id="my-account-wrap" class="wrap">
        <div class="container-fluid but-fixed container-checkout">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10 col-xl-8">
                    <!-- <h1 class="h2 mb-3">Student Information</h1> -->
                    <form class="checkout-form" action="/checkout/" method="POST">
                        <h3 class="section-title">Student Information</h3>
                        <p class="mb-4">Please enter your social security number below.</p>
                        <div class="form-group form-row">
                            <label for="socialSecurity" class="col-md-3 col-form-label text-md-right">Social Security&nbsp;<span class="reqd">*</span></label>
                            <div class="col-md-8">
                                <input id="socialSecurity" class="form-control" maxlength="80" name="socialSecurity" size="20" type="text" data-hj-masked  />
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label for="socialSecurity2" class="col-md-3 col-form-label text-md-right">Validate Social Security&nbsp;<span class="reqd">*</span></label>
                            <div class="col-md-8">
                                <input id="socialSecurity2" class="form-control" maxlength="80" name="socialSecurity" size="20" type="text" data-hj-masked  />
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label class="col-md-3 col-form-label text-md-right"></label>
                            <div class="col-md-8 text-right">
                                <button type="submit" class="btn btn-success btn-lg" style="min-width: 150px;">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block FooterIncludes %}
{% endblock %}
