{% set PageTitle = "My Account Checkout" %}
{% set PageDescription = "Univeristy Platform Dashboard" %}
{% set CanonicalPage = "" %}

{% extends "MainTemplate.html" %}

{% block Content %}
    <section id="my-account-wrap" class="wrap">
        <div class="container-fluid but-fixed container-checkout">
            <div class="row">
                <aside class="col-sm-12 col-lg-4 order-lg-last">
                    <div id="order-summary-box" class="order-summary-box card mb-4 shadow-sm">
                        <div class="card-header" id="summary-heading" data-toggle="collapse" data-target="#summary-content" aria-expanded="true" aria-controls="summary-heading">
                            <h4 class="h5 my-0">
                                Order Summary
                                <span class="item-amount">$9.95</span>
                            </h4>
                        </div>
                        <div id="summary-content" class="collapse show" aria-labelledby="summary-heading" data-parent="#order-summary-box">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <span class="item-name">Audio Add-on</span>
                                    <span class="item-amount">$4.95</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="item-name">Example Product With Longer Name Than Others</span>
                                    <span class="item-amount">$5.00</span>
                                </li>
                                <li class="list-group-item subtotal">
                                    <span class="item-name">Subtotal:</span>
                                    <span class="item-amount">$9.95</span>
                                </li>
                                <li class="list-group-item">
                                    <span class="item-name">Discounts</span>
                                    <span class="item-amount">- $0.00</span>
                                </li>
                                <li class="list-group-item total">
                                    <span class="item-name">Total:</span>
                                    <span class="item-amount">$9.95</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </aside>
                <div class="col-md-12 col-lg-8">
                    <!-- <h1 class="h2 mb-3">Rush Processing</h1>
                    <p class="mb-4">Same day processing and certificatee shipping before 6:00 PM EST (Business Day)</p> -->
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <div class="card-edit float-right">
                                <a class="card-edit float-right" href="#">Edit</a>
                            </div>
                            <h4 class="h5 my-0">Student Information</h4>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-sm table-borderless mb-0">
                                <tbody>
                                    <tr>
                                        <th class="info-title">Student Name:</th>
                                        <td>Student Name</td>
                                    </tr>
                                    <tr>
                                        <th class="info-title">Gender:</th>
                                        <td>Male</td>
                                    </tr>
                                    <tr>
                                        <th class="info-title">Date of Birth:</th>
                                        <td>01/01/2018</td>
                                    </tr>
                                    <tr>
                                        <th class="info-title">Phone #:</th>
                                        <td>(407) 111-1111</td>
                                    </tr>
                                    <tr>
                                        <th class="info-title">Shipping Address:</th>
                                        <td>123 Somewhere, Suite # 321 Over There, Texas 24568</td>
                                    </tr>
                                    <tr>
                                        <th class="info-title">Billing Address:</th>
                                        <td>123 Somewhere, Suite # 321 Over There, Texas 24568</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <form class="checkout-form" action="/receipt/" method="POST">
                        <h3 class="section-title">Billing and Payment Info</h3>
                        <div class="form-group form-row">
                            <label for="name" class="col-md-3 col-form-label text-md-right">Name on Card</label>
                            <div class="col-md-8">
                                <input id="name" class="form-control" maxlength="80" name="name" size="20" type="text" data-hj-masked  />
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label for="card_number" class="col-md-3 col-form-label text-md-right">Card Number</label>
                            <div class="col-md-8">
                                <input class="form-control" id="card_number" name="card_number" type="text" maxlength="16" pattern="^([0-9]{13,16})$" data-hj-masked onfocus="this.type='tel'" onblur="this.type='text'" />
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label class="col-md-3 col-form-label text-md-right">Expiration Date</label>
                            <div class="col-md-8">
                                <div class="form-row">
                                    <div class="col-4 col-sm-3">
                                        <select class="form-control custom-select" name="expiry_day">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>
                                    <div class="col-4 col-sm-3">
                                        <select class="form-control custom-select" name="expiry_year">
                                            <option value="2018">2018</option>
                                            <option value="2019">2019</option>
                                            <option value="2020">2020</option>
                                            <option value="2021">2021</option>
                                            <option value="2022">2022</option>
                                            <option value="2023">2023</option>
                                            <option value="2024">2024</option>
                                            <option value="2025">2025</option>
                                            <option value="2026">2026</option>
                                            <option value="2027">2027</option>
                                            <option value="2028">2028</option>
                                            <option value="2029">2029</option>
                                            <option value="2030">2030</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label for="orderid" class="col-md-3 col-form-label text-md-right">CVV</label>
                            <div class="col-md-8">
                                <input  id="CVV" class="form-control" maxlength="40" name="CVV" size="20" type="text" />
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <label class="col-md-3 col-form-label text-md-right"></label>
                            <div class="col-md-8 text-right">
                                <button type="submit" class="btn btn-success btn-lg" style="min-width: 150px;">Submit Payment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block FooterIncludes %}
{% endblock %}
