{% set PageTitle = "My Account Checkout" %}
{% set PageDescription = "Univeristy Platform Dashboard" %}
{% set CanonicalPage = "" %}

{% extends "CourseTemplate.html" %}

{% block Content %}
    <section id="dashboard-wrap" class="wrap d-flex">
        <div class="dashboard-sidebar">
            <div class="course-info card rounded-0">
                <div class="card-body">
                    <h4 class="h6 my-1">Texas Seller-Server Course</h4>
                    <div class="order-details">
                        <span class="order-title">Order ID:</span>
                        <span class="order-id">30013429</span>
                    </div>
                    <div class="status-alert clearfix">
                        <div class="course-status float-left">
                            <span class="status-title">Status:</span>
                            <br>
                            <span class="status-type">Completed</span>
                        </div>
                        <div class="course-alerts float-right">
                            <span class="blocking-alert">
                                <i class="material-icons">notification_important</i>
                                <span class="alert-count">0</span>
                            </span>
                            <span class="non-blocking-alert">
                                <i class="material-icons">textsms</i>
                                <span class="alert-count">0</span>
                            </span>
                        </div>
                    </div>
                    <div class="progress course-progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <a class="btn btn-primary" href="#">Download Certificate</a>
                    <a class="btn btn-outline-primary" href="#">Reprint Certificate</a>
                    <a class="btn btn-primary disabled" href="#">Disabled Btn State</a>
                    <a class="btn btn-outline-primary disabled" href="#">Disabled Btn State</a>
                </div>
            </div>
            <div class="card rounded-0">
                <div class="card-body">
                    <h4 class="h6 my-2">Technical Support</h4>
                    <p class="mb-1">
                        If you experience any technical issues with the course, customer service is available 24 hours a day, 7 days a week.
                    </p>
                    <p class="mb-1">
                        <small>Toll Free:</small> <br> (800) 732-4135<br>
                    </p>
                    <p class="mb-1">
                        <small>Phone:</small> <br> (407) 629-4811<br>
                    </p>
                    <p class="mb-1">
                        <small>E-mail:</small> <br><a href="mailto:info@amersc.com">info@amersc.com</a><br>
                    </p>
                    <p class="mb-1">
                        <small>Note:</small> <br>If you have any questions about the course content, please e-mail the course trainer at the e-mail address. All responses will be provided via e-mail or phone within 24 hours.
                    </p>
                </div>
            </div>
            <div class="purchased-upsell card mb-4 rounded-0">
                <div class="card-body">
                    <h4 class="h6 mb-3">Purchased Upgrades:</h4>
                    <ul class="check">
                        <li>PDF Study Guides</li>
                        <li>Premier Pass</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dashboard-content wrap">
            <div class="container-fluid but-fixed h-100">
                <div class="row">
                    <div class="col-12">
                        <h1 class="welcome-blurb h2 mb-3">Course Completed</h1>
                        <p>Congratulations! You have successfully completed the 2-Hour Texas Online Seller-Server Training. Your completion with be reported to TABC within 14 business days or choose rush processing below for same-day reporting.* Click the Download Your Certificate link below to receive your completion card.</p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4 final-score">
                        <div class="final-score-box card mb-2 shadow-sm text-center">
                            <div class="card-body">
                                <h4 class="h5">Final Score</h4>
                                <div class="final-grade">
                                    <span class="grade">95</span>
                                    <span class="percent">%</span>
                                </div>
                                <p class="cograts mt-2 mb-0">Congratulations!</p>
                            </div>
                        </div>
                        <a class="btn btn-primary" href="#">Download Proof of Completion</a>
                    </div>
                    <div class="col-sm-12 col-md-6  col-lg-8">
                        <div class="upsell-box card mb-4 shadow-sm">
                            <div class="card-body">
                                <img class="upsell-thumb float-left" src="https://via.placeholder.com/160" alt="Need Reporting Faster">
                                <div class="upsell-description">
                                    <h3 class="h4 card-title">Need Reporting Faster</h3>
                                    <p class="card-text">Get your Seller-Server training reported to TABC sooner with our same-day processing service!</p>
                                    <a class="btn btn-outline-success btn-sm" href="#">Report My Training Today</a>
                                </div>
                                <p class="disclaimer mt-3 mb-o">*Students who purchase expedited service prior to 4:30 PM Central time will be electrinically reported  to TABC the same day. Students who completed the course after this time will be reported within 14 business days as required by TABC.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="upsell-box card mb-4 shadow-sm">
                            <div class="card-header">
                                <h4 class="h5 my-0">Earn a $100 Amazon Gift Card!</h4>
                            </div>
                            <div class="card-body">
                                <img class="upsell-thumb float-left border-0" src="/custom_content/images/amazon_card.png" alt="Earn a $100 Amazon Gift Card!">
                                <div class="upsell-description">
                                    <p>The American Safety Council is looking for certified food handlers and managers to serve as Subject Matter Experts for a study relating to our newly revised food handler training program. If selected, you will be asked to submit a copy of your resume, assign ratings to test questions, and participate in a virtual panel discussion. The estimated time investment is less than three hours. A $100 Amazon gift card will be provided to the selected individuals upon completion of the study.</p>
                                    <p class="mb-0">For more information and consideration, please send an email to: <a href="mailto:foodhandlerprogram@amersc.com">foodhandlerprogram@amersc.com</a>, and write "Yes" in the subject line.</p>
                                </div>
                            </div>
                        </div>
                        <div class="upsell-box card mb-4 shadow-sm">
                            <div class="card-header">
                                <h4 class="h5 my-0">Course Evaluation Survey</h4>
                            </div>
                            <div class="card-body">
                                <img class="upsell-thumb float-left border-0" src="/custom_content/images/icon_survey.png" alt="Survey">
                                <div class="upsell-description">
                                    <p>In an effort to maintain the quality of our Texas Online Food Handler Program Course, the American Safety Council would like to invite you to participate in a brief, two-minute survey to gather your feedback about the course content. Individual responses and personal information will be kept confidential.</p>
                                    <a class="btn btn-outline-primary btn-sm" href="#">Complete Survey</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="botom-upsell-wrap" class="row">
                    <div class="col-12">
                        <h2 class="welcome-blurb h4 mb-4">Student Name, you might also be interested in these:</h1>
                    </div>
                    <div class="col-md-6 ">
                        <div class="upsell-box card mb-4 shadow-sm">
                            <div class="card-body">
                                <img class="upsell-thumb float-left" src="https://via.placeholder.com/160" alt="The Easiest Way to Become a Notary">
                                <div class="upsell-description">
                                    <h3 class="h4 card-title">The Easiest Way to Become a Notary</h3>
                                    <p class="card-text">Your one-stop, affordable resource for everything you need to become a notary!</p>
                                    <a class="btn btn-outline-primary btn-sm float-right" href="#">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="upsell-box card mb-4 shadow-sm">
                            <div class="card-body">
                                <img class="upsell-thumb float-left" src="https://via.placeholder.com/160" alt="The Easiest Way to Become a Notary">
                                <div class="upsell-description">
                                    <h3 class="h4 card-title">Online OSHA Training Courses</h3>
                                    <p class="card-text">Convenient and effective way of completing required and recommended OSHA training.</p>
                                    <a class="btn btn-outline-primary btn-sm float-right" href="#">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block FooterIncludes %}
{% endblock %}
