{% set PageTitle = "My Account Checkout" %}
{% set PageDescription = "Univeristy Platform Dashboard" %}
{% set CanonicalPage = "" %}

{% extends "CourseTemplate.html" %}

{% block Content %}
    <section id="dashboard-wrap" class="wrap d-flex">
        <div class="dashboard-sidebar">
            <div class="course-info card rounded-0">
                <div class="card-body">
                    <h4 class="h6 my-1">Texas Seller-Server Course</h4>
                    <div class="order-details">
                        <span class="order-title">Order ID:</span>
                        <span class="order-id">30013429</span>
                    </div>
                    <div class="status-alert clearfix">
                        <div class="course-status float-left">
                            <span class="status-title">Status:</span>
                            <br>
                            <span class="status-type">In Progress</span>
                        </div>
                        <div class="course-alerts float-right">
                            <span class="blocking-alert">
                                <i class="material-icons">notification_important</i>
                                <span class="alert-count">2</span>
                            </span>
                            <span class="non-blocking-alert">
                                <i class="material-icons">textsms</i>
                                <span class="alert-count">10</span>
                            </span>
                        </div>
                    </div>
                    <div class="progress course-progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <a class="btn btn-success" href="/course-player/">Resume Course</a>
                    <a class="btn btn-success disabled" href="#">Disabled Btn State</a>
                </div>
            </div>
            <div class="card rounded-0">
                <div class="card-body">
                    <h4 class="h6 my-2">Technical Support</h4>
                    <p class="mb-1">
                        If you experience any technical issues with the course, customer service is available 24 hours a day, 7 days a week.
                    </p>
                    <p class="mb-1">
                        <small>Toll Free:</small> <br> (800) 732-4135<br>
                    </p>
                    <p class="mb-1">
                        <small>Phone:</small> <br> (407) 629-4811<br>
                    </p>
                    <p class="mb-1">
                        <small>E-mail:</small> <br><a href="mailto:info@amersc.com">info@amersc.com</a><br>
                    </p>
                    <p class="mb-1">
                        <small>Note:</small> <br>If you have any questions about the course content, please e-mail the course trainer at the e-mail address. All responses will be provided via e-mail or phone within 24 hours.
                    </p>
                </div>
            </div>
            <div class="purchased-upsell card mb-4 rounded-0">
                <div class="card-body">
                    <h4 class="h6 mb-3">Purchased Upgrades:</h4>
                    <ul class="check">
                        <li>PDF Study Guides</li>
                        <li>Premier Pass</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="dashboard-content wrap">
            <div class="container-fluid but-fixed h-100">
                <!-- start alerts, this node should be hidden if there's no alerts at all -->
                <div class="alerts-wrap row">
                    <div class="col-12">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            You have <strong>29 Day(s)</strong> to complete this course. If you do not complete the course by <strong>11/24/2018</strong> you will not be able to graduate the course and will have to take the entire course again.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Attention:</strong> You must provide additional student informtion to proceed to the course.
                            <a class="btn btn-outline-danger btn-xs" href="/additional-student-info/">Continue</a>
                        </div>
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Attention:</strong> You must provide your social security number to proceed to the course.
                            <a class="btn btn-outline-danger btn-xs" href="/additional-social-security/">Continue</a>
                        </div>
                        <div class="alert alert-primary alert-dismissible fade show" role="alert">
                            An <strong>Audio Read-Along upgrade</strong> is available for the course (requires speakers).
                            <a class="btn btn-outline-primary btn-xs" href="#">Continue</a>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                    </div>
                </div>
                <!-- end alerts -->
                <div class="row">
                    <div class="col-12">
                        <h1 class="welcome-blurb h3 mb-3">Texas Seller-Server Course</h1>
                        <p>The American Safety Council's 100% online TABC certification training is approved by the Texas Alcoholic Beverage Commission (Seller Training School #614-692). Upon successful completion of this course, you will be able to immediately download an electronic copy of your seller training certification. The American Safety Council will also report your course completion to the Texas Alcoholic Beverage Commission within 14 calendar days.</p>
                    </div>
                    <div class="col-sm-12 col-lg-8">
                        <div class="course-box course-status card mb-4 shadow-sm">
                            <div class="card-header">
                                <h4 class="h5 my-0">Course Status</h4>
                            </div>
                            <div class="card-body">
                                <div class="status-alert clearfix">
                                    <div class="course-status float-left">
                                        <span class="status-title">Status:</span>
                                        <br>
                                        <span class="status-type">In Progress</span>
                                    </div>
                                    <div class="course-alerts float-right">
                                        <span class="blocking-alert">
                                            <i class="material-icons">notification_important</i>
                                            <span class="alert-count">2</span>
                                        </span>
                                        <span class="non-blocking-alert">
                                            <i class="material-icons">textsms</i>
                                            <span class="alert-count">10</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="progress course-progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="order-details float-left">
                                    <span class="order-title">Order ID:</span>
                                    <br>
                                    <span class="order-id">30013429</span>
                                </div>
                                <a class="btn btn-success float-right" href="#">Resume Course</a>
                            </div>
                            <div class="card-body purchased-upgrades">
                                <h4 class="h6 mb-3">Purchased Upgrades:</h4>
                                <ul class="check mb-0">
                                    <li>PDF Study Guides</li>
                                    <li>Premier Pass</li>
                                </ul>
                            </div>
                        </div>
                        <div class="table-content-box card mb-4 shadow-sm">
                            <div class="card-header">
                                <h4 class="h5 my-0 card-title">Table of Contents</h4>
                            </div>
                            <div class="accordion" id="toc-accordion">
                                <div class="card">
                                    <div class="card-header no-collapse" id="heading_0">
                                        <h5 class="h6 mb-0 card-title">
                                            <a href="/course-player/">Non-Collapsible Chapter Title</a>
                                        </h5>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="heading_1" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" aria-controls="collapse_1">
                                        <h5 class="h6 mb-0 card-title">
                                            Collapsible Chapter Title
                                        </h5>
                                    </div>
                                    <div id="collapse_1" class="collapse show" aria-labelledby="heading_1" data-parent="#toc-accordion">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item completed"><a href="/course-player/">Cras justo odio</a></li>
                                            <li class="list-group-item has-collapse">
                                                <div class="card-header" id="heading_1_1" data-toggle="collapse" data-target="#collapse_1_1" aria-expanded="false" aria-controls="collapse_1_1">
                                                    <h5 class="h6 mb-0 card-title">
                                                        Collapsible Sub-Chapter Title
                                                    </h5>
                                                </div>
                                                <div id="collapse_1_1" class="collapse" aria-labelledby="heading_1_1" data-parent="#collapse_1">
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item completed"><a href="/course-player/">Cras justo odio</a></li>
                                                        <li class="list-group-item completed"><a href="/course-player/">Dapibus ac facilisis in</a></li>
                                                        <li class="list-group-item completed"><a href="/course-player/">Morbi leo risus</a></li>
                                                        <li class="list-group-item resume"><a href="/course-player/">Porta ac consectetur ac</a></li>
                                                        <li class="list-group-item">Vestibulum at eros</li>
                                                        <li class="list-group-item">Dapibus ac facilisis in</li>
                                                        <li class="list-group-item">Morbi leo risus</li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="list-group-item">Dapibus ac facilisis in</li>
                                            <li class="list-group-item">Morbi leo risus</li>
                                            <li class="list-group-item">Porta ac consectetur ac</li>
                                            <li class="list-group-item has-collapse">
                                                <div class="card-header" id="heading_1_2" data-toggle="collapse" data-target="#collapse_1_2" aria-expanded="false" aria-controls="collapse_1_2">
                                                    <h5 class="h6 mb-0 card-title">
                                                        Collapsible Sub-Chapter Title
                                                    </h5>
                                                </div>
                                                <div id="collapse_1_2" class="collapse" aria-labelledby="heading_1_2" data-parent="#collapse_1">
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item">Cras justo odio</li>
                                                        <li class="list-group-item">Dapibus ac facilisis in</li>
                                                        <li class="list-group-item">Morbi leo risus</li>
                                                        <li class="list-group-item">Porta ac consectetur ac</li>
                                                        <li class="list-group-item">Vestibulum at eros</li>
                                                        <li class="list-group-item">Dapibus ac facilisis in</li>
                                                        <li class="list-group-item">Morbi leo risus</li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="list-group-item">Dapibus ac facilisis in</li>
                                            <li class="list-group-item">Morbi leo risus</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="heading_2" data-toggle="collapse" data-target="#collapse_2" aria-expanded="false" aria-controls="collapse_2">
                                        <h5 class="h6 mb-0">
                                            Collapsible Chapter Title
                                        </h5>
                                    </div>
                                    <div id="collapse_2" class="collapse" aria-labelledby="heading_2" data-parent="#toc-accordion">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Cras justo odio</li>
                                            <li class="list-group-item">Dapibus ac facilisis in</a></li>
                                            <li class="list-group-item">Morbi leo risus</li>
                                            <li class="list-group-item">Porta ac consectetur ac</a></li>
                                            <li class="list-group-item">Vestibulum at eros</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="heading_3" data-toggle="collapse" data-target="#collapse_3" aria-expanded="false" aria-controls="collapse_3">
                                        <h5 class="h6 mb-0">
                                            Collapsible Chapter Title
                                        </h5>
                                    </div>
                                    <div id="collapse_3" class="collapse" aria-labelledby="heading_3" data-parent="#toc-accordion">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Cras justo odio</li>
                                            <li class="list-group-item">Dapibus ac facilisis in</a></li>
                                            <li class="list-group-item">Morbi leo risus</li>
                                            <li class="list-group-item">Porta ac consectetur ac</a></li>
                                            <li class="list-group-item">Vestibulum at eros</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="heading_4" data-toggle="collapse" data-target="#collapse_4" aria-expanded="false" aria-controls="collapse_4">
                                        <h5 class="h6 mb-0">
                                            Collapsible Chapter Title
                                        </h5>
                                    </div>
                                    <div id="collapse_4" class="collapse" aria-labelledby="heading_4" data-parent="#toc-accordion">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Cras justo odio</li>
                                            <li class="list-group-item">Dapibus ac facilisis in</a></li>
                                            <li class="list-group-item">Morbi leo risus</li>
                                            <li class="list-group-item">Porta ac consectetur ac</a></li>
                                            <li class="list-group-item">Vestibulum at eros</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4 order-lg-last">
                        <div class="course-upgrade-box upsell-box card mb-4 shadow-sm">
                            <div class="card-header">
                                <h4 class="h5 my-0">Course Upgrades</h4>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <img class="upsell-thumb float-left" src="https://via.placeholder.com/160" alt="The Easiest Way to Become a Notary">
                                    <div class="upsell-description">
                                        <h3 class="h6 card-title mb-2">Audio Read-Along Upgrade</h3>
                                        <p class="card-text">Listen to the entire course through headphones or speakers on your computer.</p>
                                        <a class="btn btn-outline-primary btn-sm" href="/checkout/">Upgrade Now</a>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <img class="upsell-thumb float-left" src="https://via.placeholder.com/160" alt="The Easiest Way to Become a Notary">
                                    <div class="upsell-description">
                                        <h3 class="h6 card-title mb-2">Streaming Course Upgrade</h3>
                                        <p class="card-text">The Streaming Upgrade lets you watch the course through narrated video and animations.</p>
                                        <a class="btn btn-outline-primary btn-sm" href="/checkout/">Upgrade Now</a>
                                    </div>
                                </li>
                                <li class="list-group-item total">
                                    <img class="upsell-thumb float-left" src="https://via.placeholder.com/160" alt="The Easiest Way to Become a Notary">
                                    <div class="upsell-description">
                                        <h3 class="h6 card-title mb-2">Rush Processing Upgrade</h3>
                                        <p class="card-text">Same day processing and certificate shipment before 6:00 PM EST (Business Days).</p>
                                        <a class="btn btn-outline-primary btn-sm" href="/checkout/">Upgrade Now</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="botom-upsell-wrap" class="row">
                    <div class="col-12">
                        <h2 class="welcome-blurb h4 mb-4">Student Name, you might also be interested in these:</h1>
                    </div>
                    <div class="col-md-6 ">
                        <div class="upsell-box card mb-4 shadow-sm">
                            <div class="card-body">
                                <img class="upsell-thumb float-left" src="https://via.placeholder.com/160" alt="The Easiest Way to Become a Notary">
                                <div class="upsell-description">
                                    <h3 class="h4 card-title">The Easiest Way to Become a Notary</h3>
                                    <p class="card-text">Your one-stop, affordable resource for everything you need to become a notary!</p>
                                    <a class="btn btn-outline-primary btn-sm float-right" href="#">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="upsell-box card mb-4 shadow-sm">
                            <div class="card-body">
                                <img class="upsell-thumb float-left" src="https://via.placeholder.com/160" alt="The Easiest Way to Become a Notary">
                                <div class="upsell-description">
                                    <h3 class="h4 card-title">Online OSHA Training Courses</h3>
                                    <p class="card-text">Convenient and effective way of completing required and recommended OSHA training.</p>
                                    <a class="btn btn-outline-primary btn-sm float-right" href="#">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block FooterIncludes %}
{% endblock %}
