{% set PageTitle = "My Account Login Page" %}
{% set PageDescription = "Univeristy Platform Dashboard" %}
{% set CanonicalPage = "" %}

{% extends "BlankTemplate.html" %}

{% block Content %}
    <section id="login-wrap" class="wrap">
        <div class="container-fluid">
            <div class="alerts-wrap row justify-content-center">
                <div class="col-12"  style="max-width: 900px;">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        We are in the process of upgrading our authentication system. Please sign in using your existing credentials, and upon successful account migration, you will be prompted to set your new password. If you're having issues contact customer support at xxx.xxx.xxxx.
                    </div>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        We are having issues attempting to upgrade your account, please contact help support at xxx.xxx.xxx
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col" style="max-width: 600px;">
                    <h2 class="mb-1 font-weight-light text-center">Upgrade Your Account</h2>
                    <!-- <p class="mb-4 font-weight-light text-center">Please login to your account to continue</p> -->
                    <div class="login-box card mb-4 shadow-sm">
                        <div class="shield"><i class="material-icons">security</i></div>
                        <div class="card-body">
                            <form action="/course-list/">
                                <div class="form-group">
                                    <label for="inputUsername">Username</label>
                                    <input type="text" class="form-control form-control-lg" id="inputUsername">
                                    <span class="focus-hightlight"></span>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword">Password</label>
                                    <input type="password" class="form-control form-control-lg" id="inputPassword">
                                    <span class="focus-hightlight"></span>
                                </div>
                                <div class="form-group buttons">
                                    <button type="submit" class="login-button btn btn-primary float-md-right">Upgrade</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <p class="mb-4 text-center login-copyright">Copyright &#169; <script id="year_display">var y=new Date().getFullYear();var s=document.getElementById("year_display");s.parentNode.replaceChild(document.createTextNode(y),s);</script>, American Safety Council. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
