/* ----------------------------------------------------------------------------
    Checkout Style
----------------------------------------------------------------------------- */
.section-title {
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 1em;
    padding: 0 5px 8px 5px;
    border-bottom: 1px dotted #ccc;
    font-weight: 300;
}

/* ----------------------------------------------------------------------------
    Page Media Queries
----------------------------------------------------------------------------- */
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .container-checkout {
        padding-top: 10px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .container-checkout {
        padding-top: 20px;
    }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
