/* --------------------------------------------------------------
    Import CCS Dependencies
-------------------------------------------------------------- */
@import '../../../scss/main';
/* --------------------------------------------------------------
    Start Theme CSS
-------------------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    background-color: #f5f7fa;
    overflow-y: scroll;
}

.navbar.bg-dark {
    background-color: #00529B !important;
}

.navbar-brand img.asc-logo {
    width: 46px;
}
/* ----------------------------------------------------------------------------
    Page Media Queries
----------------------------------------------------------------------------- */
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
